@{
    ViewData["Title"] = "Home Page";
}

    <h1>This Homepage is from the @this.GetType().Assembly.GetName().Name assembly and is at @this.Path</h1>
<h2>And now I have been changed again once more unto the breach my friend</h2>