@page
@model SomePage
@{
}

<p>
    This is the start of <i>@this.Path</i> from <strong>(@this.GetType().Assembly.GetName().Name)</strong>
</p>


<p>
    This is the end of <i>@this.Path</i> from <strong>(@this.GetType().Assembly.GetName().Name)</strong>
</p>



